<!-- template for SignIn page -->
<!--
<link rel='stylesheet' type='text/css' href='app/pages/css/signIn.css' />
-->
<!-- --------------------------------------------------- -->
<div id='main-panel'>

    <div id='errorBox' ng-show="showErrorBox">
        <alert type='danger'><span><label>Sign-In Error:</label> {{ strMessage }}</span></alert>
    </div>



    <div id='cntSigninBox' ng-show='isInSignInDisplay'>

        <form name='frmSignin' action='login.php' target='_self' method ='post'>

            <input type='hidden' name='actionTaken' value='validate-member-login' />
            <input type='hidden' name='signinAttempt' value='' id='signinAttempt' />

            <div id='cntRegisterHref'>
                <a id='aRegister' class='toggleSignInDisplay' ng-click='toggleSignInDisplay()'>*Join</a>
            </div>

            <fieldset id='fldsetSignin'>
                <div id='cntSigninTitle'>
                    Member Sign In
                </div>
                <div id='cntSigninDetails'>
                    <label>Sign-in Email / User ID:</label>                        
                    <input name='signinEmail' id='signinEmail' type ='text' value="{{ email }}" ng-model="email" ng-class="{submitted:submitSignIn.isSubmitted}" required /><br />
                    <label>Password:</label>                        
                    <input name='password' id='signinPassword' type ='password' value="{{ password }}" ng-model="password" ng-class="{submitted:submitSignIn.isSubmitted}" required /><br />
                    <input name='btnSignin' id='btnSignin' type ='button' value='Sign-in &#9658;' ng-click='doSignIn()' />
                    <a id='aForgotPassword' href='#forgotPasswordBox'>Forgot your Password?</a> 
                    <!-- <a id='aForgotPassword' href='javascript:doForgotPassword();'>Forgot your Password?</a> -->

                    <div id='cntSignInMessage'>
                        <label id='lblMsgSignin' class='important errMsg'>{{ strMessage }}</label>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>

    <!-- Member Register -->
    <div id='cntRegisterBox' ng-hide='isInSignInDisplay'>
        <form name='frmRegister' action='login.php' target='_self' method ='post'>

            <input type='hidden' name='actionTaken' value='register' />
            <input type='hidden' name='registerAttempt' value='' id='registerAttempt' />

            <div id='cntSigninHref'>
                <a id='aSignin' class='toggleSignInDisplay' ng-click='toggleSignInDisplay()'>*Sign-In</a>
            </div>

            <fieldset id='fldsetRegister'>
                <div id='cntRegisterTitle'>
                    Member Join
                </div>
                <div id='cntRegisterDetails'>
                    <label class='required'>First Name:</label>                        
                    <input name='firstname' id='registerFirstname' type ='text' value="{{ firstname }}" ng-model="firstname" ng-class="{submitted:submitRegister.isSubmitted}" required /><br />
                    <label class='required'>Last Name:</label>                        
                    <input name='lastname' id='registerLastname' type ='text' value="{{ lastname }}" ng-model="lastname" ng-class="{submitted:submitRegister.isSubmitted}" required /><br />
                    <label class='required' >Sign-in Email:</label>                        
                    <input name='signinEmail' id='registerSigninEmail' type ='email' value="{{ email }}" ng-model="email" ng-class="{submitted:submitRegister.isSubmitted}" required /><br />
                    <label class='required' >Primary Phone:</label>                        
                    <input name='primaryPhone' id='registerPrimaryPhone' type ='text' value="{{ phone }}" ng-model="phone" ng-class="{submitted:submitRegister.isSubmitted}" onkeypress="return isPhoneNumberKey(event)" required /><br />
                    <label class='required' >Password:</label>                        
                    <input name='password' id='registerPassword' type ='password' value="{{ password }}" ng-model="password" ng-class="{submitted:submitRegister.isSubmitted}" required /><br />
                    <label class='required'>Confirm Password:</label>                        
                    <input name='confirmPassword' id='registerConfirmPassword' type ='password' value="{{ passwordConfirm }}" ng-model="passwordConfirm" ng-class="{submitted:submitRegister.isSubmitted}" required /><br />
                    <input name='btnRegister' id='btnRegister' type ='button' value='Register &#9658;' ng-click='doRegister()' />

                    <div id='cntRegisterMessage' ng-show='false'>
                        <br><label id='lblMsgRegister' class='required important'>Register unsuccessful:: Sign-in email already taken</label>
                    </div>

                </div>

            </fieldset>

        </form>
    </div>


    <!-- Forgot Email -->
    <!--
    <div id='forgotPasswordBox' class='forgotPasswordPopup' ng-hide='true'>
        <a href='#' class='close'><img src='images/close_pop.png' class='btnClose' title='Close Window' alt='Close' /></a>
        <form name='frmForgotPassword' action='#' method='post' class='signin'>

            <fieldset class='textbox'>
                <label>
                    <span>Please enter your Sign-in Email address<br> and your new password will be emailed to you.</span>
                    <input id='forgotPasswordSigninEmail' name='signinEmail' value='' type='text' autocomplete='on' placeholder='Sign-in Email'>
                </label>

                <button id='btnSend' class='button' type='button'>Send</button><br>
                <div id='ajaxForgotPasswordMessageResponse'></div>
            </fieldset>

        </form>
    </div>
    -->
</div>