
/* index.css */

h3
{
    color: #4285F4;
    margin-bottom: 5px;
    margin-top: 0px;
}

div#main-content p
{
    font-size: 12px;    
}

div#main-panel
{
    overflow: visible;
    height: 100%;
}

div#cntContent
{
    position: relative; 
    height: 800px;    
}

#cntContent-leftPanel
{
    position    : absolute;
    left        :  0;
    width       : 75%;
    height      : 100%
}

#cntContent-rightPanel
{
    position    : absolute;
    right       :  0;
    width       : 25%;
    height      : 100%;
    text-align  :right;
}

#cntContent-rightPanel img
{
    width: 100%;
}

div#cntBrowseCars,
div#cntSearchCars
{
    display: inline-flex;
    border: 2px solid #4285F4;
    width: 450px;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
}

div#cntBrowseCars
{
    width: 280px;
}

/* Search for Cars - Make and Model */

div#tabSearchCarSimple-MakeModel
{
    font-size: 14px;
    
    position: relative;
    width: 100%;
    height: 200px;
}

div#cntSearchUsedNew 
{
    margin: 10px 0 20px 50px;
}

div#cntSearchUsedNew input[type=radio]
{
    padding-left: 10px;
    text-align: left;
    padding-left: 30px;
    margin: 5px 5px 5px 30px;
}

.inputField
{
    width: 100px;
}

div.cnt1Item
{
    width: 100%;
    margin: 5px;
}

div.cnt2Items
{
    display: flex;
    margin: 5px;
}

div.cntItem1
{
    width: 200px;
}

div.cntItem2
{
    width: 100%;
}

div.cntItem  label,
div.cnt1Item label,
div.cntItem1 label,
div.cntItem2 label
{
    display: inline-block;
    text-align: right;
    width: 80px;
}

div#cntSubmitSearch
{
    margin-top: 20px;
    position: absolute;
    right: 10px;
}

#searchSubmit
{
    width: 105px;
    height: 29px;
}

/* Lookup Results */
#cntLookUpCarResults
{
    width: 100%;
    margin: 10px auto;
    padding-right: 10px;
}

#cntLookUpCarResults-listing table
{
    width: 100%;
}

#cntLookUpCarResults-listing table th,
#cntLookUpCarResults-listing table td
{
    text-align  : left;
    padding     : 5px;
    border-left: 1px solid #ddd;
}

#cntLookUpCarResults-listing table th
{
    color           : #fff;
    background-color: #2177b7;
    background-image: -moz-linear-gradient(0deg, #2177b7 0%, #4197d7 100%);
    background-image: -o-linear-gradient(0deg, #2177b7 0%, #4197d7 100%);
    background-image: -webkit-linear-gradient(0deg, #2177b7 0%, #4197d7 100%);
    background-image: linear-gradient(0deg, #2177b7 0%, #4197d7 100%);    
}


#cntLookUpCarResults-listing table tr:hover           
{ 
    cursor          : pointer;
    color           : #fff;
    background-color: #64BA19;
    background-image: -moz-linear-gradient(90deg, #64BA19 0%, #64BA19 100%);
    background-image: -o-linear-gradient(90deg, #64BA19 0%, #125102 100%);
    background-image: -webkit-linear-gradient(90deg, #64BA19 0%, #125102 100%);
    background-image: linear-gradient(90deg, #64BA19 0%, #125102 100%);    
}

#cntLookUpCarResults-listing table tr:nth-child(odd)  { background-color: #ccc; }
#cntLookUpCarResults-listing table tr:nth-child(even) { background-color: #fff; }

#cntLookUpCarResults-listing table th:nth-child(1)    { width: 16%; }                       /* photo */
#cntLookUpCarResults-listing table th:nth-child(2)    { border-left: 0px; }
#cntLookUpCarResults-listing table td:nth-child(2)    { width: 12%; border-left: 0px; }     /* rego */
#cntLookUpCarResults-listing table td:nth-child(3)    { width: 25% }                        /* VIN */
#cntLookUpCarResults-listing table td:nth-child(4)    { width: 12% }                        /* Make */
#cntLookUpCarResults-listing table td:nth-child(5)    { width: 14% }                        /* Model */
#cntLookUpCarResults-listing table th:nth-child(6),
#cntLookUpCarResults-listing table td:nth-child(6)    { width: 5%; text-align: right; }    /* year */
#cntLookUpCarResults-listing table th:nth-child(7),
#cntLookUpCarResults-listing table td:nth-child(7)    { width: 16%; text-align: right; }    /* price */

img.car-listing-thumbnail
{
    max-height: 75px;
    max-width: 130px;   
}

/* Display Car Lookup detail */

#cntLookUpCarResults-detail
{
    width           : 100%;
    text-align      : left;
    padding         : 10px 0 10px 1px;
    
    position        : relative;
}


#cntLookUpCarResults-detail .displayValues
{
    width           : 80%;
    height          : 100%;
}

.displayValues
{
    border-radius   : 5px;

    border          :  1px solid #ADADAD;
    margin          : 10px 0px 10px 0px; 
    text-align      : left;
    padding         : 10px 10px 20px 10px;
    
    background-color: #fff;
    background-image: -moz-linear-gradient(0deg, #575353 0%, #efedee 100%);
    background-image: -o-linear-gradient(0deg, #575353 0%, #efedee 100%);
    background-image: -webkit-linear-gradient(0deg, #575353 0%, #efedee 100%);
    background-image: linear-gradient(0deg, #918D8E 0%, #F9F9F9 100%);    
}


#cntLookUpCarResults-detail .viewPhotosButton,
#cntLookUpCarResults-detail .closeButton
{
    position        : absolute;
    right           : 0px;
    top             : 20px;
    width           : 20%;  
    text-align      : center;
}

#cntUpdateCar-searchResultsCarToUpdate-detail .closeButton
{
    top: 40px;
}


#cntLookUpCarResults-detail .section-heading
{
    font-size       : 20px;
    border-bottom   : 1px solid #999;
    font-weight     : normal;
    margin-bottom   : 20px;
    padding-left    : 5px;      
}

#cntLookUpCarResults-detail .section-heading-color1 
{
    border-color   : #bbb;
}

#cntLookUpCarResults-detail div.cnt1Item label,
#cntLookUpCarResults-detail div.cntItem1 label
{
    width: 150px;
}

#cntLookUpCarResults-detail div.cntItem2 label
{
    width: 60px;
}

#cntLookUpCarResults-detail .inputField
{
    width: 150px;
}
#cntLookUpCarResults-detail div.cntItem1,
#cntLookUpCarResults-detail div.cntItem2
{
    display: inline-block;
}

#cntLookUpCarResults-detail div.cntItem1
{
    width: 53%;
}
#cntLookUpCarResults-detail div.cntItem2
{
    width: 45%;
}


#cntMakeModel-updateCar,
#cntMakeModel-listSell
{
    border: 1px solid #999;
    display: flex;
    width: 98%;
    padding: 10px 0px 5px 0;
    margin-bottom: 10px;
}

/* general */
a:hover
{
    cursor: pointer;
}


/* adjusting angular-ui css */

.nav-tabs > li > a
{
    line-height: 1.2;
}

.nav-tabs > li.active > a
{
    color: #fff;
    background-color: #3187c7;   
}

